body {
 font-family: "Dancing Script", cursive;
 margin:0;
}

/*header stuff here */
header{
    background-color: #eaeaea;
    padding:1rem 10px; 
}
header span {
    color:#024873;
    font-size:1.Grem;
    font-weight:700;
}

/*navigation stuff here*/
nav{
 background-color:#F2b705 ;
}
nav ul{
    margin:0;
    padding:0 10px;
    list-style-type: none;
    display:flex;
}
nav a{
    display: block;
    padding:.83rem 1rem ;
    text-decoration: none;
    font: size 1.1rem;
    color:#024873
    font-weight: 700;

}
nav li.active a{
 background-color:#024873 ;
 color:#F2b705;
}

nav a:hover{
color: white;
}
